body {
    background-color: rgb(000, 000, 000);
    /*  font-size: 40px;*/
}

.container{
    background-color: white;
    margin:15% auto;
    text-align: center;
    width: fit-content;
}
.white-keys kbd {
    background-color: white;
    display: inline-block;
    padding:120px 40px;
    border-style: solid;
    margin:-4px;
    z-index: 1;
}

.black-keys kbd{
    background-color: black;
    color: white;
    display: inline-block;
    padding:50px 20px;
    margin:0;
    position: relative;
    bottom: 260px;
    z-index: 2;
}

.black-keys .primer_grupo{
    position: absolute;
    left:408px;
    display: flex;
    column-gap: 42px;
    justify-content: space-around;
}

.black-keys .segundo_grupo{
    position: absolute;
    left:670px;
    display: flex;
    column-gap: 42px;
    justify-content: space-around;
}



/*.container{
    background-color: rgb(204, 209, 209);
    width: max-content;
    margin: 40% auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.white-keys {
    background-color: rgb(255,255,255);
   display: flex;
    width:5rem;
    height: 15rem;
    justify-content: center;
    align-items: end;
    border-top: 1px solid white;
}*/